@tailwind base;
@tailwind components;
@tailwind utilities;

.template{
    display: grid;
    grid-template-columns: 15rem auto;
}
  
.body{
    height: 95%;
}

.sidenav{
    display: grid;
    grid-template-rows: max-content auto max-content;
}

.navbar{
    display: grid;
    grid-template-columns: 4rem auto 4rem;
}

.adopt-template{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.basic-template{
    display: grid;
    grid-template-rows: max-content auto;
}